body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0 0 150px;
}

header {
    background-color: #777;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
}

main {
    margin: 50px auto;
    width: 80%;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.project {
    margin: 50px auto;
    width: 80%;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.separator {
    width: 100%;
    border-bottom: #ccc 1px solid;
}

#mainContent {
    text-align: left;
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.education {
    display: flex;
    justify-content: space-between;
}

.left {
    float: left;
}

.education .left {
    width: 40%;
}

.right {
    float: right;
    text-align: left;
}

.education .right {
    width: 60%;
}

ul {
    list-style-type: none;
    padding-left: 25px;
}

ul > li:before {
    content: "-";
    text-indent: -5px;
    padding-right: 10px;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.tag {
    display: inline-block;
    margin: 10px auto;
    background: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    max-width: 100%;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
}

.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ccc;
    transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover::after {
    transform: scaleX(1);
}

.hover-underline-animation.center::after {
    transform-origin: bottom center;
}

.hover-underline-animation.center:hover::after {
    transform-origin: bottom center;
}